button.gidro1_container, button.cnangeButton {

    max-width: 25%;
}

.container {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gidro1_container {
    margin-bottom: 20px;
}

button.cnangeButton {
    margin-top: 30px;
}

svg.gidro2_container{
    width: 800px;
    margin-top: -200px;
    margin-bottom: -200px;
    max-width: 100%;
}
