button.gidro1_container, button.cnangeButton {
    max-width: 25%;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}


.container {
    font-family: Arial, sans-serif;
    background-color: #daf4bd47;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gidro1_container {
    margin-bottom: 20px;
}

button.cnangeButton {
    margin-top: 30px;
}

svg.gidro2_container {
    width: 800px;
    margin-top: -200px;
    margin-bottom: -200px;
    max-width: 100%;
}


@media only screen and (max-width: 700px) {
    svg.gidro2_container {
        margin-top: -150px;
        margin-bottom: -150px;
    }
}

@media only screen and (max-width: 555px) {
    svg.gidro2_container {
        margin-top: -100px;
        margin-bottom: -100px;
    }
}